/* SliderComponent.css */

.slider-container {
    margin: 20px;
    /* Adjust margin as needed */
}

.slide-item {
    padding: 30px;
    margin: 20px;
    border-radius: 15px;
    /* Adjust padding as needed */
}
.insurance_heading{
    text-align: center;
    margin: 20px;
    font-size: 25px;

}
.slide-item img {
    width: 100%;
    /* Ensure the image takes the full width of its container */
    height: auto;
    /* Maintain the aspect ratio */
}