.btn_booking {
    background-color: #e74c3c;
    /* Red color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition on hover */
    margin-left: 15%;
    width: 200px;
    white-space: nowrap;
}

.btn_booking:hover {
    background-color: #c0392b;
    /* Darker red on hover */
}