.header_content::after{
    content: "";
        display: table;
        clear: both;
}
.treatments{
margin-left:20%;
}

.get_in_touch_content{
    display:flex;
    flex-direction: row;
}
.opt{
    text-align: center;
    width: 180px;
    height: 30px;
}
.input{
width: 200px;
margin-left:30%;
margin:15px;
}
.submit_form{
    margin-left:20%;
    margin-top:-8%;
}
.cities{
    color:#00BFFF;
}

ol{
    list-style-type: disc;
    font-size: 15px;
    color:#00BFFF;
}
.btn{
width: 200px;
margin-left: 25px;
}
::placeholder{
    text-align: center;
}
.treatment{
    margin:10%;
    font-size: x-small;
}
.top_cities_container{
    background-color:#F8F8FF;
            /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 900px;
    margin: 50px;
    border-radius: 20px;
    white-space: nowrap;
    height:250px;
    padding: 20px;
    margin-left: -3px;
    padding-top:-20px;
    margin-top:-30px;
}
.top_cities_container{
            display: grid;
            grid-template-columns: repeat(4, minmax(150px, 1fr));
            grid-auto-flow: dense;
            /* Adjust column width as needed */
            gap: 10px;
            
            
            /* Adjust the gap between items as needed */
        
}
.top_cities_container_title{
    color: black;
}
.content{
    margin-left: 300px;
    margin: 20px;
}
.get_in_touch_form{
    background-color:#000080;
     width: 400px;
    height: 390px;
    border-radius: 15px;
    float: left;
    margin-left:20%;
}

.form_heading{
    text-align: center;
    color:#ffffff;
    margin:20px;
}

.container_heading,h4,h5{
    color:gray;
}

p{
    color: black;
}

.dept_header_content{
    display: flex;
    flex-direction: row;
    width: 10px;
}
.header_form{
        background-color: #000080;
            width: 200px;
            height:250px;
            border-radius: 15px;
            padding: 10px;
            margin: 10px;
            float: left;
}


.header_form_title{
    color:white;
    white-space: wrap;
    margin: 10px;
    text-align: center;
    font-size: smaller;
}

.header_form_inputs{
    margin: 25px;
}
.dept_card{
    width:200px;
    padding: 20px;
    text-align: center;
    margin-left: 10%;
    border:1px solid black;
}
.dept_header_icon{
    width:100%;
}

.header_input{
    margin: 15px;
    border-radius: 15px;
    padding: 2%;
      width: 150px; 
  height: 30px;
margin-left: -3%;
margin-top:-10px;
}
/* Reset some default styles */
button, input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.header_features{
    display: flex;
    flex-direction: row;
    padding: 5%;
    margin: 15px;
}

.cta_text{
    margin:20px;
}

/* Define the button style */
/* Button style with red background */
.book_now {
    display: inline-block;
width: 150px; 
  height: 30px;
margin-left: -3%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: wrap;
    cursor: pointer;
    background-color: red;
    /* Button background color is already red */
    color: #fff;
    /* Button text color */
    border-radius: 5px;
    border: 2px solid red;
    /* Button border color */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-left:15%;
    margin-top:-20px;
}

/* Hover effect */
.book_now:hover {
    background-color: darkred;
    color: #fff;
    border-color: darkred;
}

/* Active effect */
.book_now:active {
    background-color:darkred;
    border-color: darkred;
}

/* Disable the button style */
.book_now:disabled {
    background-color: #bdc3c7;
    color: #ecf0f1;
    border-color: #bdc3c7;
    cursor: not-allowed;
}
/* CTA button style with red background */
.dept_cta_btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 15px;
    cursor: pointer;
    background-color: red;
    /* Button background color is red */
    color: #fff;
    /* Button text color */
    border-radius: 5px;
    border: 2px solid #fff;
    /* Button border color */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Hover effect */
.dept_cta_btn:hover {
    background-color: darkred;
    /* Darken the red color on hover */
    border-color: #fff;
    /* Change the border color on hover */
}

/* Active effect */
.dept_cta_btn:active {
    background-color: #1f618d;
    border-color: #1a5276;
}

/* Disable the button style */
.dept_cta_btn:disabled {
    background-color: #bdc3c7;
    color: #ecf0f1;
    border-color: #bdc3c7;
    cursor: not-allowed;
}
.dept-details_text{
    margin:10px;
}
.dept_qualities {
  display: flex;
  flex-direction: row;
  margin: 30px;
  flex-wrap: wrap;
  align-items: center;
}

@media screen  and (max-width:768px){
    .dept_qualities {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
        }
}


.special_card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    /* Adjust as needed */
}
.our_dept_special {
display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    margin:30px;
    }
.special_card {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
    box-sizing: border-box;
}

.quality_card {
    width: 300px; 
  height: 100px; 
  border: 1px solid #000; 
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.quality {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 600px) {
  .quality_card {
    flex: 1 0 100%; /* Each card takes full width on small screens */
  }
}

.our_dept_specialities_title{
    text-align: center;
padding: 10px;    
}

.count_board{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}

.dashboard{
    background: #f9f9f9;
    width: 900px;
    padding: 10px;
    
    
}
.count_board_item_content{
    font-weight:bold;
    margin: 15px;
    white-space: nowrap;
    margin-top: -10%;
    text-align: center;
}

.text{
margin-left:-5%;
}
.count_icon{
        margin-top: -25%;
        margin: 15px;
}
.count{
margin-left:5%;
}
.count_board_item{
    border:1px solid white;
    width: 150px;
    height:150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    justify-content: space-between;
}

.dashboard_title{
    text-align:center;
}


.heading__wrapper {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .heading__wrapper {
        width: 100%;
    }

    .heading__wrapper .heading__content {
        text-align: center;
        padding: 10px 15px;
    }
}

.horizontal_scroll {
    padding: 1rem 4rem;
    position: relative;
}

.col-12,
.col-9,
.col-md-4,
.col-md-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.surgery_QA {
    padding-bottom: 20px;
}

.surgery_FQA_box {
    padding: 0 80px;
}

.surgery_QA .options_container {
    padding: 0;
}

.surgery_QA .options {
    padding: 1rem 3rem 1rem 1rem;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.get_to_know_div .drop-message-button {
    margin: 20px 0;
    padding: 10px;
}

.surgery_QA .options .type_based_content_container {
    display: none;
    min-width: auto;
    margin: 0;
}

.surgery_QA .options.active {
    cursor: default;
}

.surgery_QA .options .cross_box {
    border-radius: 40px;
    position: absolute;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 16px 0;
    border: 0;
    background: #fff;
}

.surgery_QA .surgery_FQA_box .section_heading {
    margin: 40px 0 42px;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: #505257;
    opacity: 1;
}

.surgery_QA .options .faq_question {
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0;
    width: 80%;
    line-height: 24px;
    opacity: 1;
    color: #505257;
    margin: revert;
}

.get_to_know_div {
    display: none;
    width: 100%;
    height: auto;
    background: #f99e48 0 0 no-repeat padding-box;
    opacity: 1;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
}

.question_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.surgery_QA .surgery_FQA_box .faq_section_heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    line-height: 48px;
    font-weight: 700;
    color: #505257;
    opacity: 1;
}

.surgery_QA .options {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e5ebef;
}

.surgery_QA .options .type_based_content_container {
    padding: 0;
}

.surgery_QA .options.active .type_based_content_container {
    display: block;
    background: 0 0;
    width: 100%;
}

.surgery_QA .options.inactive .type_based_content_container {
    display: none;
    background: 0 0;
}

.surgery_QA .options .cross_box .expand_icon {
    width: 13.5px;
    height: 13.5px;
}

.surgery_QA .options .type_based_content_container p,
.surgery_QA .options .type_based_content_container ul li {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: #727983;
    opacity: 1;
}

.surgery_QA .options .type_based_content_container p {
    padding-bottom: 15px;
    width: 75%;
    margin-top: 0;
    margin-bottom: 0;
}

.surgery_QA .options .type_based_content_container ul li {
    list-style-type: disc;
}

.title_treatment .surgery_treatment.box1 .type_based_content_container ul li {
    list-style-type: disc;
}

.surgery_QA .view-more-button {
    margin-top: 20px;
}

.surgery_QA .view-more-text {
    width: auto;
}

@media only screen and (max-width: 992px) {
    .surgery_FQA_box {
        padding: 0 15px;
    }

    .get_to_know_div {
        height: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .surgery_QA {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .surgery_FQA_box,
    .surgery_QA .font_size1 {
        padding: 0;
    }

    .surgery_QA .options .type_based_content_container p {
        font-size: 14px;
        width: 100%;
    }

    .surgery_QA .options_container {
        display: block;
        padding: 0;
    }

    .surgery_QA .options .type_based_content_container {
        min-width: auto;
        margin: auto;
    }

    .surgery_QA .options {
        width: auto;
        padding: 0;
        margin: 0;
    }

    .surgery_QA .options p {
        text-align: left;
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .surgery_QA .surgery_FQA_box .section_heading {
        margin: 22px;
        font-size: 24px;
        line-height: 33px;
        color: #505257;
    }

    .surgery_QA .options .faq_question {
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
        color: #505257;
        width: 80%;
    }

    .question_div {
        display: flex;
        flex-direction: row;
    }

    .surgery_QA .options .type_based_content_container {
        padding: 0;
    }

    .surgery_QA .options.active .type_based_content_container {
        display: block;
        background: 0 0;
    }

    .surgery_QA .options.inactive .type_based_content_container {
        display: none;
        background: 0 0;
    }

    .surgery_QA .options .cross_box .expand_icon {
        width: 13.5px;
        height: 13.5px;
    }

    .faw_container_wrapper {
        width: calc(min(1600px, 90vw));
        margin: auto;
    }

    .col-12,
    .col-9,
    .col-md-4,
    .col-md-6 {
        padding-right: 0;
        padding-left: 0;
    }
}

.get_in_touch_text{
    white-space:wrap;
    float:right;
}

.section_whyus{
    margin: 10px;
}
.dept_news_container{
    padding: 50px;
    margin: 20px;
}
.dept_news_container_title{
    text-align: center;
        margin: 20px;
        color:black;
}
.dept_news_container{
    border-radius: 25px;
    background-color: #f9f9f9;
}
.news_img{
    width: 170px;
}
.hr_news{
    text-align: center;
    margin-left:41%;
        width:260px;
        border: none;
        height: 3px;
        background: linear-gradient(to right, #3498db, #e74c3c);
        /* Blue to Red gradient */
    }
.news_item{

    margin: 5px;
        border-radius: 15px;
        border: 1px solid white;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.news_items_container{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.cities_container{
    background-color:#f8f8f8;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 20px;
}

/* .card{
    border: none;
    padding: 0;
} */

.card{
    border:1px solid white;
    margin: 0;
        padding: 0;
        margin-top:20px;
        border-radius:25px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dept_header_text{
    font-size: 1rem;
}


.cta_text{
    color: black;
}

.details_para{
    white-space:wrap;
}


.top_cities_content{
    margin:20px;
}

.top_cities_details{
    white-space:wrap;
    margin:5px;
}

.readmore{
    margin: 2px;
    cursor:pointer;
}

.treatments_cities{
    display:flex;
    flex-direction:row;
}
.city{
}

.city_list{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    white-space: wrap;
    margin: 20px;
}