.grid-container {
  margin-top: 2rem;
  display: grid;
}


.img-1 {
  margin-left: 6rem;
  margin-top: 1rem;
  width: 50px;
}

.img-2 {
  margin-top: -12rem;
  margin-left: 18.5rem;
    width: 50px;
}

.img-3 {
  margin-left: 7rem;
  margin-top: -16rem;
    width: 10px;
}
.img-4 {
  margin-top: -24rem;
  margin-left: 10rem;
}
.doctor_slider{
  margin-top: 5%;
  margin-left:-60%;
  width: 200px;
}
.all-img {
  margin-left: 6rem;
  width: 100px;
}
.offer-side-img img {
  margin-left: -2rem;
  margin-top: -1rem;
}
.end-div img {
  margin-top: 0rem;
  margin-left: 8.2rem;
}
.dr-img {
  margin-top: 3.8rem;
  margin-left: 15.7rem;
  margin-right:50% ;
  
  
}
.book-appoinmnet{
  margin:-5px;
}

.heading-offer h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  /* margin-left: 5rem; */
  margin-top: 2rem;
  color: #fefffe;
}
.heading-offer ul li {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #fefffe;
}

.content-all {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer {
  /* width: 35rem;
  height: 20rem; */
  background: linear-gradient(135deg, #0f234f 0%, #0f234f 100%);
  opacity: 0.9;
  box-shadow: -2px 2px 4px rgba(145, 146, 145, 0.2),
    2px -2px 4px rgba(145, 146, 145, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(145, 146, 145, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(145, 146, 145, 0.5);
  border-radius: 25px;
  margin-top: 1rem;
}
.heading h2 {
  color: var(--Logo-Blue, #325087);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.record-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-left:"-80%"
}
.record-btn button {
  border-radius: 10px;
  background: var(--RED, #c51c22);
  color: #fff;
  border-style: none;
  height: 2.4rem;
  width: 15rem;
  white-space:nowrap;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* Category */
.category-container {
  margin-top: 4rem;
}
.line {
  border: 1px solid black;
  margin-top: 2rem;
  opacity: 0.2;
  margin: 20px;

}

.how-can h3 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-shadow: #0f234f;
  margin-left: 3rem;
  margin-top: 3rem;
}


.btn-how-can button {
  border-radius: 10px;
  background: var(--RED, #c51c22);
  color: #fff;
  border-style: none;
  height: 2.2rem;
  width: 10rem;
  margin-left: 2.8rem;
  margin-top: 0.8rem;
}
.categories {
  display: flex;
  flex-direction: row;
}

.categories img {
  margin-left: 3.6rem;
  width: 100px;
  margin: 20px;
  margin-left:35px;
}
.categories p {
  margin-left: 3rem;
}

/* Symptoms */
.Symptoms-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: unwrap;
  margin-top: 2rem;
margin-left: -10%;
}
.symptoms-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  font-size: 25px;
      color: black;
}
.symptoms-heading h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.symptom_img{
  width: 40px;
}
.Symptoms {
  width: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #fefffe 0%, #e6e7e6 100%);
  opacity: 0.9;
  box-shadow: -2px 2px 4px rgba(145, 146, 145, 0.2),
    2px -2px 4px rgba(145, 146, 145, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(145, 146, 145, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(145, 146, 145, 0.5);
  border-radius: 25px;
  margin-left: 2rem;
  margin-top: 3rem;
}
.symptoms-name {
  display: flex;
  flex-direction: row;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view button {
  margin-top: 4rem;
  border-radius: 10px;
  border: 1px solid rgba(5, 105, 111, 0.3);
  background: #f2f3f2;
  box-shadow: 2px 2px 5px 0px rgba(194, 194, 194, 0.9),
    -2px -2px 4px 0px rgba(255, 255, 255, 0.9),
    2px -2px 4px 0px rgba(194, 194, 194, 0.2),
    -2px 2px 4px 0px rgba(194, 194, 194, 0.2),
    -1px -1px 2px 0px rgba(194, 194, 194, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  width: 8rem;
  height: 2rem;
}

/* Specialities */
.specialities-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.specialities {
  padding: 5px;
  width: 15rem;
  height: 8rem;
  border-radius: 20px;
  border: 1px solid var(--Light-blue, rgba(102, 119, 173, 0.15));
  background:floralwhite;
  box-shadow: 5px 5px 13px 0px rgba(206, 207, 206, 0.9),
    -5px -5px 10px 0px rgba(255, 255, 255, 0.9),
    5px -5px 10px 0px rgba(206, 207, 206, 0.2),
    -5px 5px 10px 0px rgba(206, 207, 206, 0.2),
    -1px -1px 2px 0px rgba(206, 207, 206, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  margin-left: 4rem;
  margin-top: 3rem;
}
.arrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}
.speciality-name h6 {
  margin-left: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.speciality-name p {
  margin-left: 1rem;
  font-size:7.5px;
}

.special_container{
  background-color: #0f234f;
  border-radius:20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 30px;
  padding: 10px;
  margin-left: 8%;
}
.view-more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-more button {
  border-radius: 10px;
  border: 1px solid rgba(5, 105, 111, 0.3);
  background: #f2f3f2;
  box-shadow: 2px 2px 5px 0px rgba(194, 194, 194, 0.9),
    -2px -2px 4px 0px rgba(255, 255, 255, 0.9),
    2px -2px 4px 0px rgba(194, 194, 194, 0.2),
    -2px 2px 4px 0px rgba(194, 194, 194, 0.2),
    -1px -1px 2px 0px rgba(194, 194, 194, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  width: 8rem;
  height: 2.3rem;
  margin-top: 3rem;
}

/* Google review */
/* .google-review-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
padding:10px;
margin: 15px;
  flex-wrap: nowrap;
  border:1px solid black;
}
.review-box {
  border-radius: 20px;
  border: 1px solid var(--Green-Boader, rgba(5, 105, 111, 0.5));
  background: var(--Light-blue, rgba(102, 119, 173, 0.15));
  box-shadow: 4px 4px 10px 0px rgba(206, 207, 206, 0.9),
    -4px -4px 8px 0px rgba(255, 255, 255, 0.9),
    4px -4px 8px 0px rgba(206, 207, 206, 0.2),
    -4px 4px 8px 0px rgba(206, 207, 206, 0.2),
    -1px -1px 2px 0px rgba(206, 207, 206, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
  width: 200px;
  height: 30px;
   height: fit-content;
  margin-left: 2rem;
  border:1px solid black;
}
.reviewer-name h5 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
}
.rating-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.star {
  margin-left: 0.7rem;
}
.reviewer-img{
  width:50px;
}
.review-text p {
  text-wrap: pretty;
  margin-left: 0.6rem;
  font-size: 10px;
}
.under-line {
  border: 1px solid black;
  opacity: 0.2;
  margin-bottom: 1rem;
  max-width: 22rem;
  margin-left: 2rem;
}
.docter-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
 */
/* Add these styles to your existing styles or a separate CSS file */

.symptoms-heading h2 {
  text-align: center;
}

.google-review-container {
  display: flex;
  flex-wrap: wrap;
  padding:20px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.review-box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 200px;
  height: 350px;
  /* Adjust the width as needed */
  transition: transform 0.3s;
}

.review-box:hover {
  transform: scale(1.05);
}

.reviewer-img img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.reviewer-name h5 {
  margin: 10px 0;
  text-align: center;
  margin-left: 40px;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 40px;
  flex-wrap: nowrap;
}

.star img {
  margin-right: 5px;
}

.review-text p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.under-line {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.docter-name p {
  font-weight: bold;
  text-align: center;
}

.line {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

/* FAQ Section */
.faq-conatiner {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.faq-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.faq-input {
  margin-top: 2rem;
  height: 3rem;
  border-radius: 20px;
  border: 1px solid rgba(5, 105, 111, 0.3);
  background: #f2f3f2;
  box-shadow: 4px 4px 10px 0px rgba(206, 207, 206, 0.9),
    -4px -4px 8px 0px rgba(255, 255, 255, 0.9),
    4px -4px 8px 0px rgba(206, 207, 206, 0.2),
    -4px 4px 8px 0px rgba(206, 207, 206, 0.2),
    -1px -1px 2px 0px rgba(206, 207, 206, 0.5) inset,
    1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
}
.faq-input p {
  margin-left: 1rem;
  margin-top: 0.6rem;
  opacity: 0.6;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.faq-input span {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -2.4rem;
  margin-right: 0.5rem;
  opacity: 0.6;
}

/* Happy Clients */
.happy-clients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}
.client {
  margin-left: 7rem;
  /* border: 1px solid black; */
}
.client-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-heading h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}
.client-subheading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-subheading h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .img-1 {
    display: none;
  }
  .img-2 {
    display: none;
  }
  .img-3 {
    display: none;
  }
  .img-4 {
    margin-top: 0;
    margin-left: -2rem;
  }

  /* Conten Area */
  .offer {
    /* width: 15rem;
    height: 10rem; */
    width: 600px;
    margin:5px;
    margin-right: 30%;
  }
  .doctor_slider{
    width: 50px;
  }
  .per {
    display: none;
  }
  .offer-end {
    display: none;
  }
  .offer {
    /* height: 15rem; */
  }

  .offer{
    padding:3%;
  }
  /* Categories */
  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    white-space: nowrap;
  }
  /* Symptomps */
  .Symptoms-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Symptoms {
    margin-top: 1rem;
  }

  /* Specialities */
  .specialities {
    height: fit-content;
  }
  .speciality-img img {
    width: 50px;
    margin-left: 1.5rem;
    margin: 10px;
  }
  .arrow {
    display: none;
  }
  .review-box {
    margin-top: 2rem;
  }
  .under-line {
    max-width: 17.5rem;
  }
}

.cta-btn{
  cursor: pointer;
  margin: 20px;
}



.view_more {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  color: #3498db;
  background-color: #c51c22;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.view_more:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #3498db;
}